@import "~styles/fonts";

@mixin border() {
  border: 1px solid #9F9BA2;
}

@mixin shadow(){
  box-shadow: 0 1px 4px 0 rgba(159, 155, 162, 0.5);
}

.dropdown {
  font-family: $fontLatoRegular;
  color: #5f5864;
  font-size: 14px;
  display: inline-block;
  position: relative;
  width: 150px;
  margin-bottom: 12px;
  margin-right: 12px;
  @include shadow;

  &__trigger {
    @include border;
    // box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.34) inset;
    height: 30px;
    line-height: 30px;
    display: block;
    cursor: pointer;
    padding-left: 12px;
    box-sizing: border-box;

    &:after {
      content: '';
      display: block;
      background-image: url("~assets/images/svg/dropdown_shevron.svg");
      position: absolute;
      width: 10px;
      height: 6px;
      top: 12px;
      right: 12px;
    }
  }

  &__content {
    display: none;
    position: absolute;
    left: 0;
    top: 30px;
    right: 0;
    background-color: #fcfcfc;
    @include border;
    @include shadow;

    .dropdown-items {
      list-style: none;
      padding: 0;
      margin: 0;

      .dropdown-item {
        display: block;
        height: 30px;
        line-height: 30px;
        cursor: pointer;
        padding-left: 12px;
        box-sizing: border-box;

        &.active {
          background-color: #A6CBD4;
        }

        &:hover {
          background-color: rgba(240,239,241,1.00);
        }
      }
    }
  }

  &--active {
    .dropdown__content {
      display: block;
      z-index: 999;
    }
  }
}