@import "~styles/constants";

.member-form {
  display: flex;
  flex-direction: column;
  min-height: 472px;

  &__text-field {
    align: right;
  }

  &__date-field {
    margin-left: 12px;
    background: #fcfcfc;
    border: 1px solid #9f9ba2;
    border-radius: 3px;
    outline: none;
    line-height: 24px;
    font-family: $fontLatoRegular, sans-serif;
    font-size: 14px;
    color: #23182d;
    width: 180px;
    padding-left: 12px;
  }

  &__tags-field {
    min-width: 537px;
    font-size: 14px;
    font-family: $fontLatoRegular, sans-serif;
    text-align: left;
    margin-left: 12px;
    align: right;
    justify-content: flex-end;


    .Select-control {
      box-shadow: none !important;
      border-color: #9f9ba2 !important;
      height: 30px;
    }

    &.is-focused {
      .Select-control {
        border-color: #9f9ba2 !important;
      }
    }

    .Select-placeholder{
      line-height: 28px !important;
    }

    .Select-value {
      color: #4a4a4a !important;
      display: inline-flex !important;
      flex-direction: row-reverse;
      margin-left: 0 !important;
      margin-top: 0 !important;
      line-height: 2em !important;
      border-radius: 2em !important;
      background-color: #e6e4e7 !important;
      border-color: transparent !important;


      &:last-child {
        margin-bottom: 0;
      }

      .Select-value-icon {
        border-right: 0 !important;
      }
    }

    .Select-input {
      height: 27px;
      display: inline-flex !important;
      align-items: center;
    }

    .Select-value-icon {
      color: #a09ca2;
    }
  }

  &__content {
    padding-left: 24px;

    &--entity {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-right: 24px;

      h3 {
        padding: 24px 0 18px 0;
        font-family: LatoBold, sans-serif;
        font-size: 18px;
        color: #4a4a4a;
      }
    }

    &--col {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    &--row {
      flex: auto;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    &--pic {
      display: inline;
      align-items: left;
      flex-direction: column;
      padding-right: 24px;
      min-width: 102px;

      img {
        width: 108px;
        height: 108px;
      }
    }
  }  

  &__actions {
    display: flex;
    align-items: center;
    flex: 0 0 72px;
    background-color: #d8d8d8;
    padding: 0 24px;

    .admin-state-info {
      font-family: LatoBold, sans-serif;
      font-size: 12px;
      color: #4a4a4a;
      padding-left: 12px;
    }

    &--btns {
      display: flex;
      align-items: center;
      margin-left: auto;

      .btn {
        &.deactivate {
          font-family: LatoBold, sans-serif;
          font-size: 14px;
          color: #c37a83;
          margin-right: 18px;
          cursor: pointer;

          &.active {
            color: #207D94;
          }
        }
      }
    }
  }

  &__admin-state {
    margin-bottom: 0 !important;
  }
}