@import "~styles/constants";
@import "~styles/colors";

.pending-feedback {
  margin-bottom: 12px;

  &__header {
    display: flex;

    &-pic {
      margin-right: 12px;
    }

    &-date {
      display: block;
    }

    &-name {
      font-family: $fontLatoBold, sans-serif;
      font-size: 14px;
      color: $text-primary;
    }

    &-date-text {
      font-family: $fontLatoRegular, sans-serif;
      font-size: 14px;
      color: $text-secondary;
      margin-top: 3px;
    }

    &-close {
      margin-left: auto;
      fill: $text-secondary;
    }
  }

  &__content {
    padding-top: 12px;
    font-family: $fontLatoRegular;
    font-size: 16px;
    color: $text-primary;
  }
}