.select-timezone {
  position: relative;

  &:after {
    content: '';
    background-image: url("~assets/images/svg/dropdown_shevron.svg");
    position: absolute;
    width: 10px;
    height: 6px;
  }

  &.isActive {

    &:after {
      transform: rotate(180deg);
    }
  }
}