@import "~styles/fonts";
@import "~styles/placeholdertext";

.people-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0px 48px 24px 48px;

  &__filter {
    display: flex;
    padding-bottom: 24px;
    flex-direction: column;
  }

  &__form {
    display: flex;
    align-items: center;

    .csv {
      display: flex;
      align-items: center;
      font-family: $fontLatoBold, sans-serif;
      font-size: 12px;
      color: #4a4a4a;
      text-align: left;
    }

    .download-btn {
      border-radius: 5px;
      margin-left: 18px;
      min-width: 96px;
    }

    .active-checkbox {
      margin-bottom: 0;
      margin-left: 48px;
    }
  }

  &__full-text-search {
    margin-right: auto;
    width: 384px;
    height: 30px;
    line-height: 30px;
    background: #fcfcfc;
    border: 1px solid #9f9ba2;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
    color: #23182D;
    text-align: left;
    text-indent: 6px;
    font-family: $fontLatoRegular, sans-serif;

    &:focus {
      box-shadow: 0 0 0 2px #207D94;
      border-color: transparent;
    }
  }

  &__title {
    display: flex;
    border-bottom: 2px solid #23182d;
    padding: 6px 0;
    font-family: $fontLatoBold, sans-serif;
    font-size: 18px;
    color: #23182d;
    min-height: 24px;
    position: left;
  }

  &__grid {
    display: block;
    table-layout: auto;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
  }

  &__col {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;

    &__full-name {
      margin-left: 12px;
    }

    &__manager-name {
      margin-left: 12px;
    }
  }

   &__col-team {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;

    &__tags {
      flex: 1;
    }
  }

  &__admin-badge{
    font-family: $fontLatoRegular, sans-serif;
    font-size: 12px;
    color: #23182D;
    background: #F8E71C;
    border: 1px solid #F8E71C;
    border-radius: 3px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    min-width: 54px;
    margin-left: 12px;
    margin-right: 24px;
  }

  &__span {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    &__edit-btn {
      cursor: pointer;
      display: block;
      margin-right: 12px;
      margin-left: 24px;
    }
  }
}