@import "~styles/placeholdertext";

.tag-lines{

  .actions {
    display: flex;
    align-items: center;
    font-family: Lato-Regular, sans-serif;
    font-size: 14px;
    color: #207D94;
    padding: 18px 0;

    &__handler {
      display: flex;
      align-items: center;
      cursor: pointer;

      .plusbtn{
        margin-right: 6px;
      }
    }

    .new-field-name {
      background: #FCFCFC;
      border: 1px solid #9F9BA2;
      border-radius: 3px;
      margin-right: 12px;
      height: 36px;
      line-height: 36px;
      box-sizing: border-box;
      outline: none;
      width: 288px;
      font-family: Lato-Regular, sans-serif;
      font-size: 14px;
      color: #23182d;
      padding: 0px 6px;

      &:focus {
        border: 2px solid #207d94;
      }
    }
  }
}