@import "~styles/constants";
@import "~styles/colors";

.feedback-type {
  display: flex;
  padding-bottom: 12px;

  &__item {
    display: block;
    width: 272px;
    line-height: 36px;
    height: 36px;
    text-align: center;
    background-color: $inactive-bg;
    box-shadow: 0 0 0 1px $shadow;
    cursor: pointer;
    position: relative;
    font-family: $fontLatoBold, sans-serif;
    font-size: 14px;
    color: $inactive-outline;

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }

    &.active {
      box-shadow: 0 0 0 1px $active-outline;
      z-index: 100;
      background-color: $active-bg;
      color: $active-outline;
    }
  }
}