@import "~styles/constants";
@import "~styles/colors";

.checkbox {
  display: flex;
  align-items: center;
  font-family: $fontLatoRegular, sans-serif;
  font-size: 14px;
  color: $text-subheader;
  text-align: left;
  margin-bottom: 20px;
  padding-top: 0px;
  cursor: pointer;

  &__mark {
    position: relative;
    margin-right: 10px;
    background-image: url("~assets/images/svg/unchecked.svg");
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;


    .ischecked {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}