@import "~styles/colors";
@import "~styles/constants";

.note-feedback {
  background: $bg-passive;
  border-radius: 5px;
  padding: 24px;
  font-family: $fontLatoRegular, sans-serif;
  font-size: 16px;
  color: $text-primary;
  text-align: left;
  margin-bottom: 24px;

  &__header {
    display: flex;
    margin-bottom: 24px;
  }
  &__about {
    margin-right: 12px;
  }

  &__date-action {
    margin-left: auto;
    font-size: 14px;
    color: $text-secondary;
    display: flex;
    align-items: center;

    & > .lock-icon {
      margin-right: 10px;
    }
  }

  &__content {
    line-height: 18px;
  }
}