.perpage-dropdown {
  position: relative;
  font-family: LatoRegular, sans-serif;
  font-size: 14px;
  color: #5f5864;

  &__options {
    position: absolute;
    display: none;
    line-height: 30px;
    bottom: 100%;
    width: 48px;
    background: #fcfcfc;
    border: 1px solid #5f5864;
    box-sizing: border-box;
    margin-bottom: -1px;

    &.isOpen {
      display: block;
    }
  }

  &__option {
    cursor: pointer;
    padding: 0 8px;

    &.current {
      background: rgba(95, 88, 100, 0.30);
    }
  }

  &__current {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #5F5864;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.50);
    width: 48px;
    height: 26px;
    line-height: 30px;
    padding: 0 3px;
    box-sizing: border-box;
  }
}