@import "~styles/colors";
@import "~styles/constants";

.perpage-dropdown {
  position: relative;
  font-family: $fontLatoRegular, sans-serif;
  font-size: 14px;
  color: $text-dropdown;

  &__options {
    position: absolute;
    display: none;
    line-height: 30px;
    bottom: 100%;
    width: 48px;
    background: $white;
    border: 1px solid $border-primary;
    box-sizing: border-box;
    margin-bottom: -1px;

    &.isOpen {
      display: block;
    }
  }

  &__option {
    cursor: pointer;
    padding: 0 8px;

    &.current {
      font-family: $fontLatoBold, sans-serif;
      color: $active-primary;
    }

    &:hover {
      color: $active-primary;
    }
  }

  &__current {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $border-primary;
    box-shadow: 0 1px 4px 0 $shadow;
    width: 48px;
    height: 26px;
    line-height: 30px;
    padding: 0 3px;
    box-sizing: border-box;
  }
}