@import "~styles/fonts";
@import "~styles/placeholdertext";

.values-tab {
  display: block;
  padding: 0px 48px 24px;

  &__header {
    font-family: $fontLatoRegular, sans-serif;
    font-size: 14px;
    color: #9F9BA2;
    padding: 24px;
  }

  &__field-group {
    min-height: 216px;
    padding: 12px 24px 0 24px;
    margin-bottom: 24px;

    &--close {
      position: absolute;
      top: 18px;
      right: 18px;

    }

    &--textarea {
      background: #fcfcfc;
      border: 1px solid #9f9ba2;
      border-radius: 3px;
      outline: none;
      display: block;
      resize: none;
      margin-top: 12px;
      width: 100%;
      box-sizing: border-box;
      min-height: 72px;
      // margin-bottom: 24px;
      font-family: $fontLatoRegular, sans-serif;
      font-size: 14px;
      padding: 6px;

      &:focus {
        border: 2px solid #207d94;
      }
    }

    &--textfield {
      background: #fcfcfc;
      border: 1px solid #9f9ba2;
      border-radius: 3px;
      outline: none;
      display: block;
      margin-top: 12px;
      width: 100%;
      box-sizing: border-box;
      margin-bottom: 24px;
      line-height: 36px;
      font-family: $fontLatoRegular, sans-serif;
      font-size: 14px;
      padding: 0px 6px;
      color: #23182d;

      &:focus {
        border: 2px solid #207d94;
      }
    }
  }

  &__actions {
    display: flex;
    font-family: $fontLatoRegular, sans-serif;
    font-size: 14px;
    color: #207D94;

    .btn {
      margin-right: 12px;
    }

    .add-value {
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }

  &__save{
    display: flex;
    justify-content: flex-end;
  }
}