.people-list-row {
  display: flex;
  border-bottom: 1px solid #9f9ba2;
  align-items: center;
  height: 48px;
  font-family: LatoRegular, sans-serif;
  font-size: 14px;
  color: #23182D;

  &__col {
    flex: 1;
    display: flex;
    align-items: center;

    &__fb-icon {
      padding-right: 12px;
    }

    &:last-child{
      justify-content: flex-end;
    }
  }

  &__user-image {
    margin-right: 6px;
  }
}