@import "~styles/colors";

.pending {
  &__field-title {
    margin-top: 30px;
    margin-bottom: 12px;
  }

  &__block {
    min-height: 300px;
  }  
}

.give-export {

  &__action-toggle {
    margin-bottom: 0;

    &.below {
      margin-top: 24px;
    }
  }

  &__actions {
    justify-content: space-between;
    padding: 24px 24px 24px;
    background-color: #e6e4e7;
    display: flex;
    align-items: center;

    &__lock-icon {
      margin-right: 6px;
      fill: $grey-primary;

      &:active {
        fill: $active-primary;
      }
    }
  }

  &__title {
    margin-bottom: 11px;
  }

  &__view {
    padding-bottom: 0;

    .tags-field {
      &__selected-tag{
        height: 38px;
      }
    }
  }
}

.rounded-focused {
  margin-top: 12px;
}