.multiple-users {
  display: flex;
  align-items: center;

  &__avatars {
    position: relative;
    height: 24px;

    & > .avatar {
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 24px;
      background-size: 24px 24px;
      top: 0;
    }


  }
  
  .other {
    font-family: LatoRegular, sans-serif;
    font-size: 14px;
    color: #23182D;
    position: relative;
  }

  .other-info {
    background: #FEFCE8;
    border: 1px solid #9F9BA2;
    border-radius: 5px;
    position: absolute;
    padding: 12px;
  }
}