.multiple-info {
  background: #fefce8;
  border: 1px solid #9f9ba2;
  border-radius: 5px;
  position: absolute;
  padding: 12px;
  transform: translateY(-100%);
  font-family: LatoRegular, sans-serif;
  font-size: 12px;
  color: #23182d;
  line-height: 16px;

  span {
    font-family: LatoBold, sans-serif;
  }
}