@import "~styles/colors";
@import "~styles/constants";

.public-header {
  background: $white;
  box-shadow: 0 2px 4px 0 $shadow;
  height: 72px;
  display: flex;
  padding: 0 24px;
  overflow: hidden;

  &__side {
    display: flex;
    align-items: center;
  }

  &__right {
    margin-left: auto;
  }

  &__title {
    font-family: $fontLatoBold, sans-serif;
    font-size: 24px;
    color: $text-primary;
    margin-left: 10px;
    margin-right: 51px;
  }

  &__menu {
    display: flex;

    &-item {
      font-family: $fontLatoRegular, sans-serif;
      font-size: 18px;
      color: $text-subheader;
      text-decoration: none;
      margin-right: 24px;

      &.active {
        text-decoration: underline;
      }
    }
  }
}