@import "~styles/constants";

.feedback-data {
  display: block;

  &__content {
    display: block;
    font-family: $fontLatoRegular, sans-serif;
    font-size: 18px;
    color: #23182d;
    text-align: left;
    padding: 1em 1em 1em 24px;
  }

  &__data {
    display: block;
    font-family: $fontLatoRegular, sans-serif;
    font-size: 14px;
    color: #9f9ba2;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 24px;
  }

  &__response {
    &-title {
      padding: 1em 1em 1em 24px;
      border-bottom: 1px solid #9f9ba2;
      border-top: 1px solid #9f9ba2;
    }
  }
}