$fontLatoSemibold:'LatoSemibold';
$fontLatoBlackItalic:'LatoBlackItalic';
$fontLatoMediumItalic:'LatoMediumItalic';
$fontLatoThinItalic:'LatoThinItalic';
$fontLatoHeavyItalic:'LatoHeavyItalic';
$fontLatoRegular:'LatoRegular';
$fontLatoLightItalic:'LatoLightItalic';
$fontLatoBlack:'LatoBlack';
$fontLatoBoldItalic:'LatoBoldItalic';
$fontLatoHairlineItalic:'LatoHairlineItalic';
$fontLatoHairline:'LatoHairline';
$fontLatoLight:'LatoLight';
$fontLatoThin:'LatoThin';
$fontLatoItalic:'LatoItalic';
$fontLatoHeavy:'LatoHeavy';
$fontLatoMedium:'LatoMedium';
$fontLatoBold:'LatoBold';
$fontLatoSemiboldItalic:'LatoSemiboldItalic';
