$fontLatoSemibold: 'LatoSemibold';
$fontLatoBlackItalic: 'LatoBlackItalic';
$fontLatoMediumItalic: 'LatoMediumItalic';
$fontLatoThinItalic: 'LatoThinItalic';
$fontLatoHeavyItalic: 'LatoHeavyItalic';
$fontLatoRegular: 'LatoRegular';
$fontLatoLightItalic: 'LatoLightItalic';
$fontLatoBlack: 'LatoBlack';
$fontLatoBoldItalic: 'LatoBoldItalic';
$fontLatoHairlineItalic: 'LatoHairlineItalic';
$fontLatoHairline: 'LatoHairline';
$fontLatoLight: 'LatoLight';
$fontLatoThin: 'LatoThin';
$fontLatoItalic: 'LatoItalic';
$fontLatoHeavy: 'LatoHeavy';
$fontLatoMedium: 'LatoMedium';
$fontLatoBold: 'LatoBold';
$fontLatoSemiboldItalic: 'LatoSemiboldItalic';

:export {
  fontLatoSemibold: $fontLatoSemibold;
  fontLatoBlackItalic: $fontLatoBlackItalic;
  fontLatoMediumItalic: $fontLatoMediumItalic;
  fontLatoThinItalic: $fontLatoThinItalic;
  fontLatoHeavyItalic: $fontLatoHeavyItalic;
  fontLatoRegular: $fontLatoRegular;
  fontLatoLightItalic: $fontLatoLightItalic;
  fontLatoBlack: $fontLatoBlack;
  fontLatoBoldItalic: $fontLatoBoldItalic;
  fontLatoHairlineItalic: $fontLatoHairlineItalic;
  fontLatoHairline: $fontLatoHairline;
  fontLatoLight: $fontLatoLight;
  fontLatoThin: $fontLatoThin;
  fontLatoItalic: $fontLatoItalic;
  fontLatoHeavy: $fontLatoHeavy;
  fontLatoMedium: $fontLatoMedium;
  fontLatoBold: $fontLatoBold;
  fontLatoSemiboldItalic: $fontLatoSemiboldItalic;
}
