@import "constants";

@font-face {
  font-family: $fontLatoSemibold;
  src: url('~assets/fonts/Lato-Semibold.eot');
  src: url('~assets/fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-Semibold.woff2') format('woff2'),
  url('~assets/fonts/Lato-Semibold.woff') format('woff'),
  url('~assets/fonts/Lato-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: $fontLatoBlackItalic;
  src: url('~assets/fonts/Lato-BlackItalic.eot');
  src: url('~assets/fonts/Lato-BlackItalic.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-BlackItalic.woff2') format('woff2'),
  url('~assets/fonts/Lato-BlackItalic.woff') format('woff'),
  url('~assets/fonts/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: $fontLatoMediumItalic;
  src: url('~assets/fonts/Lato-MediumItalic.eot');
  src: url('~assets/fonts/Lato-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-MediumItalic.woff2') format('woff2'),
  url('~assets/fonts/Lato-MediumItalic.woff') format('woff'),
  url('~assets/fonts/Lato-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: $fontLatoThinItalic;
  src: url('~assets/fonts/Lato-ThinItalic.eot');
  src: url('~assets/fonts/Lato-ThinItalic.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-ThinItalic.woff2') format('woff2'),
  url('~assets/fonts/Lato-ThinItalic.woff') format('woff'),
  url('~assets/fonts/Lato-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: $fontLatoHeavyItalic;
  src: url('~assets/fonts/Lato-HeavyItalic.eot');
  src: url('~assets/fonts/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-HeavyItalic.woff2') format('woff2'),
  url('~assets/fonts/Lato-HeavyItalic.woff') format('woff'),
  url('~assets/fonts/Lato-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: $fontLatoRegular;
  src: url('~assets/fonts/Lato-Regular.eot');
  src: url('~assets/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-Regular.woff2') format('woff2'),
  url('~assets/fonts/Lato-Regular.woff') format('woff'),
  url('~assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $fontLatoLightItalic;
  src: url('~assets/fonts/Lato-LightItalic.eot');
  src: url('~assets/fonts/Lato-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-LightItalic.woff2') format('woff2'),
  url('~assets/fonts/Lato-LightItalic.woff') format('woff'),
  url('~assets/fonts/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: $fontLatoBlack;
  src: url('~assets/fonts/Lato-Black.eot');
  src: url('~assets/fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-Black.woff2') format('woff2'),
  url('~assets/fonts/Lato-Black.woff') format('woff'),
  url('~assets/fonts/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: $fontLatoBoldItalic;
  src: url('~assets/fonts/Lato-BoldItalic.eot');
  src: url('~assets/fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-BoldItalic.woff2') format('woff2'),
  url('~assets/fonts/Lato-BoldItalic.woff') format('woff'),
  url('~assets/fonts/Lato-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: $fontLatoHairlineItalic;
  src: url('~assets/fonts/Lato-HairlineItalic.eot');
  src: url('~assets/fonts/Lato-HairlineItalic.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-HairlineItalic.woff2') format('woff2'),
  url('~assets/fonts/Lato-HairlineItalic.woff') format('woff'),
  url('~assets/fonts/Lato-HairlineItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: $fontLatoLight;
  src: url('~assets/fonts/Lato-Light.eot');
  src: url('~assets/fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-Light.woff2') format('woff2'),
  url('~assets/fonts/Lato-Light.woff') format('woff'),
  url('~assets/fonts/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: $fontLatoThin;
  src: url('~assets/fonts/Lato-Thin.eot');
  src: url('~assets/fonts/Lato-Thin.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-Thin.woff2') format('woff2'),
  url('~assets/fonts/Lato-Thin.woff') format('woff'),
  url('~assets/fonts/Lato-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: $fontLatoItalic;
  src: url('~assets/fonts/Lato-Italic.eot');
  src: url('~assets/fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-Italic.woff2') format('woff2'),
  url('~assets/fonts/Lato-Italic.woff') format('woff'),
  url('~assets/fonts/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: $fontLatoHeavy;
  src: url('~assets/fonts/Lato-Heavy.eot');
  src: url('~assets/fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-Heavy.woff2') format('woff2'),
  url('~assets/fonts/Lato-Heavy.woff') format('woff'),
  url('~assets/fonts/Lato-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: $fontLatoHairline;
  src: url('~assets/fonts/Lato-Hairline.eot');
  src: url('~assets/fonts/Lato-Hairline.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-Hairline.woff2') format('woff2'),
  url('~assets/fonts/Lato-Hairline.woff') format('woff'),
  url('~assets/fonts/Lato-Hairline.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: $fontLatoMedium;
  src: url('~assets/fonts/Lato-Medium.eot');
  src: url('~assets/fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-Medium.woff2') format('woff2'),
  url('~assets/fonts/Lato-Medium.woff') format('woff'),
  url('~assets/fonts/Lato-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: $fontLatoBold;
  src: url('~assets/fonts/Lato-Bold.eot');
  src: url('~assets/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-Bold.woff2') format('woff2'),
  url('~assets/fonts/Lato-Bold.woff') format('woff'),
  url('~assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('~assets/fonts/Lato-SemiboldItalic.eot');
  src: url('~assets/fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
  url('~assets/fonts/Lato-SemiboldItalic.woff2') format('woff2'),
  url('~assets/fonts/Lato-SemiboldItalic.woff') format('woff'),
  url('~assets/fonts/Lato-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}