::-webkit-input-placeholder {
    color: $text-placeholder;
    font-size: 14px;
    }

    ::-moz-placeholder {
    color: $text-placeholder;
    font-size: 14px;
    }

    :-ms-input-placeholder {
    color: $text-placeholder;
    font-size: 14px;
    }

    ::placeholder {
    color: $text-placeholder;
    font-size: 14px;
    }