@import "~styles/colors";
@import "~styles/constants";

$heightTag: 20px;

.form-tags-field {
  $formTagField: &;

  .tags-field {
    width: 180px;
    background: $white;
    border: 1px solid $border-primary;
    margin-left: 12px;
    border-radius: 3px;
    height: 24px;

    &__search-input {
      input {
        height: $heightTag;
        font-family: $fontLatoRegular, sans-serif;
        font-size: 14px;
        color: $text-primary;
      }
    }

    &__selected-tag {
      max-height: $heightTag;
      width: 100%;
      margin: 2px auto;
    }
  }

  &.one {
    .tags-field {
      &__selected + .tags-field__search {
        display: none;
      }
    }
  }
}