.feedback-body {
  display: flex;
  flex: 1;
  position: relative;
  padding-right: 72px;
  padding-top: 84px;
  box-sizing: border-box;


  &__sidebar {
    display: flex;
    flex-direction: column;
    flex: 25;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 70;
    min-width: 400px;
  }

  &__actions{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
  }

  &__list {
    display: block;
    flex: 1;
  }

  .filtered-dates {
    display: block;
    padding-left: 75px;
    padding-top: 20px;
  }
}