.feedback-body {
  display: flex;
  flex: 1;
  position: relative;
  padding-right: 48px;
  padding-top: 0px;
  box-sizing: border-box;
  $feedbackBody: &;

  &__sidebar {
    display: block;
    align-items: left;
    padding-right: 48px;
    padding-left: 48px;
    flex: 160px;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 72;
    min-width: 390px;
  }

  &.admin {
    padding-top: 0;

    #{$feedbackBody}__actions {
      display: none;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .filtered-dates {
    display: block;
    padding-top: 20px;
  }
}