.feedback-body {
  display: flex;
  flex: 1;
  position: relative;
  padding-right: 48px;
  padding-top: 84px;
  box-sizing: border-box;


  &__sidebar {
    display: block;
    align-items: left;
    padding-right: 48px;
    padding-left: 48px;
    flex: 160px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 72;
    min-width: 390px;
  }

  &__actions{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 24px;
  }

  &__list {
    display: block;
    flex: 1;
  }

  .filtered-dates {
    display: block;
    padding-top: 20px;
  }
}