.profile-data {
  display: flex;
  flex-wrap: wrap;

  &__side {
    display: flex;
    flex-direction: column;

    &.left {
      width: 314px;
      align-items: center;
      padding-top: 20px;
    }

    &.right {
      flex: 1 1 0;
      padding-right: 24px;
      padding-top: 24px;
    }
  }

  &__user-pic {
    margin-bottom: 18px;
    position: relative;

    & > .user-image {
      background-size: 192px 192px;
      border-radius: 192px;
      width: 192px;
      height: 192px;
    }

    & > .upload-zone {
      font-family: LatoBold, sans-serif;
      font-size: 24px;
      color: #207d94;
      text-align: center;
      width: 192px;
      height: 192px;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(216, 216, 216, 0.75);
      border-radius: 192px;
      cursor: pointer;
    }
  }

  &__username {
    font-family: LatoRegular, sans-serif;
    color: #23182d;
    font-size: 20px;
    text-align: center;
  }

  &__position {
    font-family: LatoRegular, sans-serif;
    color: #9b9b9b;
    font-size: 16px;
    text-align: center;
    margin-bottom: 23px;
    margin-top: 3px;
  }

  &__actions {
    width: 100%;
    background: #e6e4e7;
    border-radius: 0 0 5px 5px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 24px;
  }

  &__text-input {
    background: #fcfcfc;
    border: 1px solid #9f9ba2;
    border-radius: 3px;
    padding: 0.1em;
    font-family: LatoRegular, sans-serif;
    font-size: 16px;
    color: #23182d;
    width: 137px;
    box-sizing: border-box;;
  }

  .phone {
    align-items: center;
  }
}