.profile-ro-filed {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;

  & > &__label {
    font-family: LatoBold, sans-serif;
    font-size: 18px;
    color: #4a4a4a;
    text-align: right;
    margin-right: 5px;
    flex: 1;
  }

  & > &__value {
    font-family: LatoRegular, sans-serif;
    font-size: 16px;
    color: #23182d;
    text-align: left;
    margin-left: 5px;
    flex: 1;
  }
}