@import "~styles/colors";
@import "~styles/constants";

.received-feedback {
  margin-bottom: 24px;

  &__question-about {
    display: flex;
    align-items: center;
    margin-bottom: 18px;

    &-question {
      font-family: $fontLatoItalic, sans-serif;
      font-size: 14px;
      color: $text-primary;
      text-align: left;
      line-height: 18px;
    }
  }

  &__about {
    margin-right: 12px;
  }
}