@import "~styles/colors";

.feedback-list{
  .feedback-block{
    margin-bottom: 2em;
  }
}

.user-pic {
	margin-right: 12px;
}

.from {
	&__you {
		color: $text-secondary;
		margin: 0 6px;
	}
}

.to {
	&__arrow {
		color: $text-primary;
		margin-right: 12px;
	}
}