@import "~styles/colors";
@import "~styles/constants";

.feedback-list{
  .feedback-block{
    margin-bottom: 2em;
  }
}

.user-pic {
	margin-right: 12px;
}

.from {
	&__you {
		color: $text-secondary;
		margin: 0 6px;
	}
}

.to {
	&__arrow {
		color: $text-primary;
		margin-right: 12px;
	}
}

.grey {
	font-family: $fontLatoRegular;
	font-size: 14px;
	color: $text-secondary;
	padding-left: 3px;
}