@import "~styles/colors";
@import "~styles/constants";

.about-block {
  font-family: $fontLatoItalic, sans-serif;
  font-size: 14px;
  color: $text-primary;
  text-align: left;
  background: $tag-primary;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  padding: 3px 6px;
  line-height: 24px;

  &__user-image {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-size: 20px 20px;
    margin: 0 6px;
  }
}