.integrations-tab{
  padding: 24px 48px;

  &__request-button {
    align-items: center;
    display: flex;
    float: right;

    &__slack-icon {
      margin-right: 10px;
    }
  }

  &__title {
    font-family: Lato-Bold, sans-serif;
    font-size: 18px;
    color: #23182D;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-family: Lato-Regular, sans-serif;
    font-size: 14px;
    color: #9F9BA2;
    width: 80%;
    padding: 18px 0px 48px 0px;
  }
}