@import "~styles/fonts";
@import "~styles/colors";

$hw: 192px;

.profile-tab {
  display: block;

  &.top {
    display: flex;
  }

  &__logo {
    display: block;
    width: $hw;
    height: $hw;
    cursor: pointer;
    margin-right: 48px;

    &--upload {
      display: block;
      width: $hw;
      height: $hw;
      margin: 0 auto;
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }

      .info {
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        background: $grey-semitransparent;
        font-family: $fontLatoBold, sans-serif;
        font-size: 24px;
        color: $active-primary;
        text-align: center;
        text-transform: capitalize;
      }

      .empty-block {
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        font-family: $fontLatoBold, sans-serif;
        font-size: 24px;
        color: $active-primary;
        background: $grey-semitransparent;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1.5em;
      }

      .empty-block-info {
        @extend .empty-block;
        display: none;
      }

      &.hovered {
        .info {
          display: flex;
        }

        .empty-block {
          display: none;
        }

        .empty-block-info {
          background: $active-secondary;
          border: 4px dashed $active-primary;
          display: flex;
        }
      }
    }
  }

  &__form {
    display: block;
    flex: 1;

    &--textfield-block {
      display: flex;
      margin-bottom: 18px;

      .col {
        flex: 1;
      }

      .text-f-container {
        margin-bottom: 24px;
        margin-right: 24px;

        &.company-email {
          position: relative;

          &:before {
            content: '@';
            position: absolute;
            border-right: 1px solid $border-primary;
            top: 30px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            border-radius: 0;
            font-family: $fontLatoBold, sans-serif;
            font-size: 14px;
            color: $border-primary;
            text-align: center;
          }
          input[type=text] {
            padding-left: 30px;

          }
        }

        &.company-address-1 {
          position: relative;
          margin-bottom: 0px;

          &:focus {
            box-shadow: 0 0 0 2px $active-primary;
            border-color: transparent;
          }

          &:before {
            content: 'Line 1';
            position: absolute;
            border-right: 1px solid $text-secondary;
            top: 30px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            border-radius: 0;
            font-family: $fontLatoRegular, sans-serif;
            font-size: 14px;
            color: $text-secondary;
            text-align: center;
          }

          input[type=text] {
            padding-left: 54px;
          }
        }

        &.company-address-2 {
          position: relative;
          margin-bottom: 12px;

          &:before {
            content: 'Line 2';
            position: absolute;
            border-right: 1px solid $text-secondary;
            top: 12px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            border-radius: 0;
            font-family: $fontLatoRegular, sans-serif;
            font-size: 14px;
            color: $text-secondary;
            text-align: center;
          }

          input[type=text] {
            padding-left: 54px;
          }
        }
      }
    }
  }

  .label {
      font-family: $fontLatoBold, sans-serif;
      font-size: 18px;
      color: $text-primary;
      text-align: left;
    }

  .textarea-field {
    background: $white;
    border: 1px solid $border-primary;
    border-radius: 3px;
    font-size: 14px;
    font-family: LatoRegular, sans-serif;
    outline: none;
    display: block;
    resize: none;
    margin-top: 12px;
    width: 100%;
    box-sizing: border-box;
    min-height: 72px;
    margin-bottom: 24px;
    padding: 6px;
  }

  .actions {
    text-align: right;
  }
}