@import "~styles/fonts";

.profile-tab {
  display: block;

  &.top {
    display: flex;
  }

  &__logo {
    display: block;
    width: 192px;
    height: 192px;
    cursor: pointer;
    margin-right: 48px;
    
    &--upload {
      display: block;
      width: 192px;
      height: 192px;
      margin: 0 auto;
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }

      .info {
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        background: rgba(216, 216, 216, 0.75);
        font-family: $fontLatoBold, sans-serif;
        font-size: 24px;
        color: #5f5864;
        text-align: center;
        text-transform: capitalize;
      }

      .empty-block {
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        font-family: $fontLatoBold, sans-serif;
        font-size: 24px;
        color: #4f4657;
        background: rgba(159, 155, 162, 0.10);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1.5em;
      }

      .empty-block-info {
        @extend .empty-block;
        display: none;
      }

      &.hovered {
        .info {
          display: flex;
        }

        .empty-block {
          display: none;
        }

        .empty-block-info {
          background: rgba(169, 193, 142, 0.75);
          border: 4px solid #417505;
          border-style: dashed;
          display: flex;
        }
      }
    }
  }

  &__form {
    display: block;
    flex: 1;

    &--textfield-block {
      display: flex;
      margin-bottom: 18px;

      .col {
        flex: 1;
      }

      .text-f-container {
        margin-bottom: 24px;
        margin-right: 24px;

        &.company-email {
          position: relative;

          &:before {
            content: '@';
            position: absolute;
            border-right: 1px solid #9F9BA2;
            top: 36px;
            height: 36px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            border-radius: 0 3px 3px 0;
            font-family: $fontLatoBold, sans-serif;
            font-size: 14px;
            color: #9F9BA2;
            text-align: center;
          }
          input[type=text] {
            padding-left: 30px;

          }
        }
      }
    }
  }

  .checkbox-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;

    &__mark {
      margin-bottom: 18px;
      margin-top: 2px;
    }

    &__label {
      font-family: $fontLatoBold, sans-serif;
      font-size: 18px;
      color: #23182D;
      text-align: left;
    }

    &__description {
      font-family: $fontLatoRegular, sans-serif;
      font-size: 14px;
      color: #9f9ba2;
      text-align: left;
      margin-bottom: 6px;
      flex: 0 0 100%;

      .link {
        color: #5f5864;
      }
    }
  }

  .textarea-field {
    background: #fcfcfc;
    border: 1px solid #9f9ba2;
    border-radius: 3px;
    font-size: 14px;
    font-family: $fontLatoRegular, sans-serif;
    outline: none;
    display: block;
    resize: none;
    margin-top: 12px;
    width: 100%;
    box-sizing: border-box;
    min-height: 72px;
    margin-bottom: 24px;
    margin-top: 18px;
  } 

  .actions {
    text-align: right;
  }

  .timezone-picker {
    width: 100%;
    font-family: $fontLatoRegular, sans-serif;
    font-size: 14px;
    border: 1px solid #9f9ba2;
    border-radius: 3px;
    margin-bottom: 24px;
    margin-top: 18px;
  }
}