.reset-form {
  min-height: 50px;

  .email-field {
    font-family: LatoRegular, sans-serif;
    font-size: 14px;
    color: #9f9ba2;
    background: #fcfcfc;
    border: 1px solid #9f9ba2;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    padding: 3px 0.5em;
    margin-bottom: 24px;
  }

  .reset-text {
    font-family: LatoRegular, sans-serif;
    font-size: 12px;
    color: #4A4A4A;
    line-height: 15px;
    margin: 18px 0;
  }
}