@import "~styles/constants";
@import "~styles/colors";
@import "~styles/placeholdertext";

.reset-form {
  min-height: 50px;

  .email-field {
    font-family: $fontLatoRegular, sans-serif;
    font-size: 14px;
    background: $sub-background;
    border: 1px solid $border-primary;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    padding: 3px 0.5em;
    margin-bottom: 24px;

    &:focus {
    border: 1px solid $active-primary;
    }
  }

  .reset-text {
    font-family: $fontLatoRegular, sans-serif;
    font-size: 12px;
    color: $text-subheader;
    line-height: 14px;
    margin: 18px 0;
  }
}