@import "~styles/fonts";
@import "~styles/common";
@import "~styles/colors";

.application {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 960px;

  .logotitle {
    color: $button-text;
  }

  .logoicon {
    margin-top: 6px;
  }

  .sidebar{
    padding-left: 24px;
    padding-top: 86px - 48px;
  }

  .bottom {
    display: flex;
    flex: 1;
  }
}