@import "~styles/colors";
@import "~styles/constants";

.ivr-feedback {
  display: block;
  background: $bg-active;
  border-radius: 3px;
  padding: 18px;
  margin-bottom: 24px;
  font-family: $fontLatoRegular, sans-serif;
  font-size: 14px;
  color: $text-primary;

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &-user {
      display: flex;
      align-items: center;

      & > .user-image {
        width: 24px;
        height: 24px;
        border-radius: 24px;
        background-size: 24px 24px;
      }

      & > .user-name {
        font-size: 14px;
        color: $text-primary;
        margin-left: 12px;
      }
    }

    &-actions {
      margin-left: auto;
      font-size: 14px;
      color: $inactive-primary;
      letter-spacing: 0;
      text-align: center;
      line-height: 18px;
      display: flex;
      align-items: center;
    }

    &-close {
      margin-left: 12px;
    }
  }

  &__content {
    line-height: 18px;
    font-size: 16px;
  }

  &__request {
    display: inline-block;
    margin-bottom: 24px;
    font-family: $fontLatoItalic, sans-serif;
    font-size: 14px;
    color: $text-primary;
    line-height: 24px;

    & > .about-block {
      margin-right: 12px;
    }
  }
}