@import "~styles/fonts";

.feedback-block {
  font-family: $fontLatoRegular;
  font-size: 14px;
  color: #23182d;

  &__date {
    color: #5f5864;
    display: flex;
    align-items: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-user {
      display: flex;
      align-items: center;
    }
  }

  &__content {
    padding: 20px 0;
  }

  &__tags {
    .hash-item {
      margin-right: 6px;
    }
  }
}