@import "~styles/fonts";
@import "~styles/colors";

.feedback-block {
  font-family: $fontLatoRegular;
  font-size: 16px;
  color: $text-input;

  &__date {
    color: $subheader;
    display: flex;
    align-items: center;

    &__lock-icon {
      margin-right: 6px;
    }

    &__span {
      margin-right: 6px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    &-user {
      display: flex;
      align-items: center;
    }
  }

  &__content {
    padding: 20px 0;
    line-height: 20px;
  }

  &__tags {
    .hash-item {
      margin: 0 6px 6px 0;
    }
  }
}