@import "~styles/colors";
@import "~styles/constants";

.fromtofeedback {
  padding: 12px 24px 24px 24px;

  & > &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    align-items: center;
  }

  &__users {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .feedback-username {
      font-family: $fontLatoRegular, sans-serif;
      font-size: 14px;
      color: $text-primary;
      text-align: left;
      line-height: 24px;
      white-space: nowrap;
    }

    span{
      @extend .feedback-username;
    }
  }

  &__feedback-date {
    font-family: $fontLatoRegular, sans-serif;
    font-size: 14px;
    color: $text-secondary;
    text-align: right;
    display: flex;
  }

  & > &__content {
    font-family: $fontLatoRegular, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: $text-primary;
    text-align: left;
    display: block;
    margin-bottom: 18px;
  }

  & > &__tags {
    display: flex;
  }

  & > &__hash-tags {
    .hash-item {
      margin-right: 5px;
      margin-bottom: 5px;
      font-family: $fontLatoBold, sans-serif;
      font-size: 14px;
      color: $text-primary;
      text-align: center;
    }
  }
}