
.sidebar-navigation {
  font-family: LatoRegular, sans-serif;
  font-size: 16px;
  padding-bottom: 4em;
  padding-right: 24px;
  min-width: 96px;

  &__item {
    padding-bottom: 1em;
    $item: &;

    a {
      color: #23182d;
      padding-right: 12px;
      text-decoration: none;
      position: relative;

      &.active {
        color: #207d94;
        font-family: LatoBold, sans-serif;
      }

      #{$item}-badge {
        position: absolute;
        left: calc(100% - 12px);
        top: 0;
        transform: translateY(-70%);
      }
    }
  }
}