@import "../../FeedbacksList/admin/adminfeedbacklist";
@import "~styles/colors";
@import "~styles/constants";

.short-feedback {
  display: flex;
  border-bottom: 1px solid $border-primary;
  align-items: center;
  min-height: 46px;

  &.last {
    border-bottom: none;
  }

  &__item {
    width: $itemWidth;
    display: flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;

    &-date {
      font-family: $fontLatoRegular, sans-serif;
      font-size: 14px;
      color: $text-primary;

      &-time {
        color: $text-secondary;
        margin-top: 4px;
      }
    }

    &-name {
      font-family: $fontLatoRegular, sans-serif;
      font-size: 14px;
      color: $text-primary;
      margin-left: 10px;
    }

    &.last {
      width: $lastItemWidth;
    }
  }
}