@import "~styles/fonts";

.date-filter {
  display: block;

  &__container {
    font-family: $fontLatoRegular;
    color: #23182d;
    font-size: 16px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    min-width: 168px;

    &-item {
      cursor: pointer;
       margin-bottom: 6px;

      &.active {
        font-family: $fontLatoBold;
        color: #417505;

      }
    }
  }

  .more-block {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;

    .show-more {
      cursor: pointer;
      font-family: $fontLatoBold;
      font-size: 12px;
      color: #5f5864;
      display: flex;
      align-items: center;
    }
  }
}