@import "~styles/colors";
@import "~styles/constants";

$size: 38px;

.search-component {
  position: relative;
  width: $size;
  height: $size;

  &__inactive-icon {
    cursor: pointer;
  }

  &__input-field {
    width: 156px;
    margin-right: 2px;
    border: 0;
    background: transparent;
    outline: none;
    color: $border-primary;

    &[type=text] {
      &:focus {
        box-shadow: none;
      }
    }
  }

  &__search-container {
    position: absolute;
    right: 100%;
    top: 0;
    display: flex;
    align-items: center;
    height: 30px;
    border: 2px solid $border-primary;
    border-radius: 16px;
    width: 192px;
    background-image: url("~assets/images/svg/search_field_icon.svg");
    background-repeat: no-repeat;
    background-position: left 5px;
    justify-content: flex-end;
  }

  &__results {
    display: block;
    position: absolute;
    background: $white;
    border: 1px solid $border-primary;
    box-shadow: 0 2px 4px 0 $shadow;
    width: 244px;
    max-height: 222px;
    top: 100%;
    right: 0;
    padding-bottom: 20px;

  }

  &__section-title {
    font-family: $fontLatoBold, sans-serif;
    font-size: 14px;
    color: $text-subheader;
    line-height: 30px;
    padding-left: 12px;
  }

  &__people-result {
    & > &-person {
      display: flex;
      height: 30px;
      align-items: center;
      padding-left: 12px;
      cursor: pointer;
      font-family: $fontLatoRegular, sans-serif;
      font-size: 12px;
      color: $text-primary;


      &:hover {
        color: $active-primary;
      }
    }

    &-person-picture {
      margin-right: 6px;
    }
  }
}