@import "~styles/constants";

.newfeedback-container {
  .field-title {
    span {
      font-family: $fontLatoRegular, sans-serif;
      font-size: 14px;
      color: #9f9ba2;
      text-align: center;
      padding-left: 6px;
    }
  }

  .embody-values {
    display: block;
    padding: 12px 0px 30px 0px;

    &__button {
      margin-right: 24px;
    }
  }
}