@import "~styles/colors";
@import "~styles/constants";

.user-menu {
  position: relative;
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  align-items: center;

  &__action {
    background-image: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &-ico {
      width: 24px;
      height: 24px;
      background-size: 24px 24px;
    }
  }

  &__username {
    font-family: $fontLatoRegular, sans-serif;
    font-size: 16px;
    color: $white;
    text-align: center;
    margin-right: 10px;
  }

  &__actions {
    display: block;
    position: absolute;
    top: 100%;
    background: $sub-background;
    border: 1px solid $border-primary;
    box-shadow: 0 1px 4px 0 $shadow;
    border-radius: 3px;
    padding: 12px;
    font-family: $fontLatoRegular, sans-serif;
    font-size: 14px;
    color: $text-primary;
    text-align: left;
    line-height: 30px;
    min-width: 104px;
    min-height: 90px;
    right: 0;


  }

  &__action-item{
    white-space: nowrap;
    cursor: pointer;
  }
}